//
//  Release.xcconfig
//  expenses
//
//  Created by vcampus on 3/10/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = EXPENSES
APP_VERSION = 0.0.1
APP_BUNDLE_ID = com.takai.expenses

BASE_URL = http:\/\/api.intensifystudio.com/development
NETWORK_REQUEST_HOURS_DELTA = 12
