<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869989898258-bj5sh0repm1o4sm4s0p8fi2nqpqh3sli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869989898258-bj5sh0repm1o4sm4s0p8fi2nqpqh3sli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869989898258-dqb7kqddui4upc32dca77i7seco85rbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBu1DVOI5ee0oGH8PlB-Jzv88jpY0Uyu4w</string>
	<key>GCM_SENDER_ID</key>
	<string>869989898258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takai.expenses</string>
	<key>PROJECT_ID</key>
	<string>hol-game</string>
	<key>STORAGE_BUCKET</key>
	<string>hol-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869989898258:ios:4cf4b30e469859046860cb</string>
	<key>DATABASE_URL</key>
	<string>https://hol-game.firebaseio.com</string>
</dict>
</plist>